on fs

# Parse hardware revision (needs to happen before cbd starts)
service modemloader /system/bin/modemloader
    class core
    oneshot
    disabled

# CBD
service cpboot-daemon /system/bin/cbd -d -txmm7160 -bh -mh -p 13
    class main
    user root
    group radio cache inet misc audio sdcard_rw log sdcard_r shell
    disabled

# RILD
service ril-daemon /system/bin/rild
    class main
    socket rild stream 660 root radio
    socket sap_uim_socket1 stream 660 bluetooth bluetooth
    socket rild-debug stream 660 radio system
    user root
    group radio cache inet misc audio log readproc wakelock qcom_diag
    disabled
    onrestart restart cpboot-daemon

on post-fs-data
# Remove symlinks to avoid issues with migrate after nandroid restores
# Will be recreated at end of boot
    rm -r -d /data/data/com.android.providers.telephony/databases
    rm -r -d /data/data/com.android.providers.telephony/shared_prefs

# Symlink directories to access telephony.db and preferred-apn.xml required by cbd
    symlink /data/user_de/0/com.android.providers.telephony/databases /data/data/com.android.providers.telephony/databases
    symlink /data/user_de/0/com.android.providers.telephony/shared_prefs /data/data/com.android.providers.telephony/shared_prefs
    start modemloader
    start cpboot-daemon
    start ril-daemon
